* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
}

.todo-app {
    width: 100%;
    max-width: 650px;
    background: rgb(255, 255, 255);
    margin: 20px auto 20px;
    padding: 35px 25px 65px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.todo-app:hover {
    box-shadow: 4px 4px 15px 0;
    padding: 40px 40px 70px;
}

.todo-app h1 {
    color: rgb(7, 7, 7);
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px; 
}

.greeting .title {
    text-align: center;
    color: rgb(5, 58, 71);
    margin-bottom: 15px;
    margin-left: 100px;
    font-size: 16px;
}

.greeting .title input {
    color: rgb(37, 37, 37);
    overflow: scroll;
    font-weight: bold;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    transition: all 0.5;
}

.greeting .title input:hover {
    color: rgb(78, 78, 78);
}

.greeting .title input:active {
    color: rgb(143, 143, 143);
}

.renderInfo {
    text-align: center;
}

    #error {
        color: rgb(255, 0, 0);
        font-size: 10px;
        padding: 5px 0px;
    }

    /* #hint {
        color: rgb(0, 116, 0);
        border: 1px;
        border-color: black;
        font-size: 10px;
        padding: 5px 0px;
    } */

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(237, 238, 240);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.input-todo-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 13.5px;
}

.add-btn {
    border: none;
    outline: none;
    background: rgb(17, 148, 38);
    color: rgb(255, 255, 255);
    padding: 10px 25px 10px;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.add-btn:hover {
    background: rgb(15, 114, 31);
    padding: 10px 45px 10px;
}

ul li {
    list-style: none;
    font-size: 12px;
    padding: 11px 35px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

ul li:hover {
    background: rgb(240, 240, 240);
    border-radius: 50px;
    font-size: 13px;
    border: none;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 12px;
}

ul li.checked {
    color: rgb(85, 85, 85);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
    height: 25px;
    width: 25px;
    top: 8px;
    left: 10px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: rgb(85, 85, 85);
    text-align: center;
    margin-right: 10px;
}

ul li span:hover {
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.signature {
	font-size: 10px;
	font-weight: bold;
	display: inline;
	text-align: center;
	cursor: pointer;
	color: rgb(0, 0, 0);
}

.signature a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition:	all 0.25s ease-in-out;
}

.signature a:hover {
	color: rgb(0, 99, 102);
}
