* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* remove explicitly defined colors for dark mode effects */
.dark {
  background-color: black;
  color: white;
  transition: 2s ease-in;
}

.light {
  background-color: white;
  color: black;
  transition: 2s ease-in;
}

@keyframes slideDown {
  0% {
      transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

.slideDown {
  animation: slideDown 1s;
}

.edit-btn {
   display: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 10px auto;
    padding: 20px 0px 80px;
}

.container h1 {
    color: rgb(7, 7, 7);
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
}

.todo-app {
    width: 100%;
    max-width: 750px;
    min-width: 350px;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px 25px 20px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
/* 
.greeting {
  width: 400px;
  margin: 0 auto;
} */

h1 > button {
	display: none;
}

.greeting .title {
    text-align: center;
    color: rgb(5, 58, 71);
    margin-bottom: 15px;
    font-size: 16px;
}

.greeting .title input {
    color: rgb(37, 37, 37);
    overflow: scroll;
    font-weight: bold;
    border: none;
    width: 150px;
    outline: none;
    background: transparent;
    font-size: 16px;
    transition: all 0.5;
}

.greeting .title input:hover {
    color: rgb(78, 78, 78);
}

.greeting .title input:active {
    color: rgb(143, 143, 143);
}

.renderInfo {
    text-align: center;
}

    #error {
        color: rgb(255, 0, 0);
        font-size: 10px;
        padding: 5px 0px;
    }

    /* #hint {
        color: rgb(0, 116, 0);
        border: 1px;
        border-color: black;
        font-size: 10px;
        padding: 5px 0px;
    } */

.input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(237, 238, 240);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.input-todo-field {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 13.5px;
}

.filter-btn {
    border: none;
    outline: none;
    background: rgb(40, 151, 170);
    padding: 5px 10px;
    margin-right: 2px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.filter-btn:hover {
    background: rgb(121, 171, 184);
    padding: 5px 20px;
}

.search-icon {
    margin-top: 1px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.add-btn {
  border: none;
  outline: none;
  background: rgb(17, 148, 38);
  color: rgb(255, 255, 255);
  padding: 10px 25px 10px;
  border-radius: 50px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.add-btn:hover {
  background: rgb(15, 114, 31);
  padding: 10px 45px 10px;
}

ul li {
  list-style: none;
  font-size: 12px;
  padding: 11px 55px 10px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul li:hover {
  background: rgb(240, 240, 240);
  border-radius: 50px;
  font-size: 12.5px;
  border: none;
}

ul li::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 12px;
  transition: all 0.15s ease-in-out;
}

ul li:hover::before {
  background-color: rgb(255, 255, 255);
}

ul li.checked {
  color: rgb(85, 85, 85);
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
  height: 25px;
  width: 25px;
  top: 8px;
  left: 10px;
}

ul li::after{
  background-image: url(/projects/edit-pen.png);
  height: 25px;
  width: 25px;
  top: 8px;
  left: 10px;
}

/* ul li .hamburger {
    visibility: none;
    display: inline;
    border: none;
    background: transparent;
}

ul li .hamburger:hover {
    visibility: visible;
} */

ul li button {
  position: absolute;
  right: 0;
  top: 6px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background: transparent;
  text-align: center;
  margin-right: 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

ul li img {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

ul li button:hover {
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

ul li span {
  position: absolute;
  right: 0;
  top: 6px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: rgb(85, 85, 85);
  text-align: center;
  margin-right: 10px;
}

ul li span:hover {
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

.signature {
	font-size: 10px;
	font-weight: bold;
	display: inline;
	text-align: center;
	cursor: pointer;
	color: rgb(0, 0, 0);
}

.signature a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition:	color 0.25s ease-in-out;
}

.signature a:hover {
	color: rgb(0, 99, 102);
  border-bottom: 2px solid black;
}

.light-mode button {
  font-size: 12px;
  /* font-weight: bold; */
  border-radius: 50px;
  padding: 5px 10px;
  background-color: rgb(58, 58, 58);
  color: rgb(245, 245, 245);
  border: none;
	display: flex;
	text-align: center;
	cursor: pointer;
}
